/test/results/
.vscode/
*.tar
.idea/
*.log
.images
.tmp/
*.DS_Store
coverage.txt
**/test-fixtures/cache/
**/test-fixtures/podman/ssh/id_ed25519
**/test-fixtures/podman/ssh/id_ed25519.pub
**/test-fixtures/podman/ssh/authorized_keys

# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib

# Test binary, build with `go test -c`
*.test

# Output of the go coverage tool, specifically when used with LiteIDE
*.out