[Unit]
Description=Setup SSH material generation
Requires=local-fs.target
After=local-fs.target

[Service]
Type=oneshot
ExecStart=/setup.sh
RemainAfterExit=true
StandardOutput=journal

[Install]
WantedBy=multi-user.target